@charset "UTF-8";
body,h1,h2,h3,p,ul{
    margin: 0;
    padding: 0;
}


body{
   
    margin: 0;
}

header{
	background-color: rgb(0, 0, 0);
	width: 100%;
	height: 100%;
	text-align: center;
    
	
}

.header ul{
   
    text-align: right;
   
}
.header li{
    list-style: none;
    display: inline;
    margin-left:10px;
    margin-right: 20px;
    color: #ffffff;
    
    
    
    
}

header img{
	width: 200px;
}





.all1_wrapper{
    width: 80%;
    margin: 0 auto;
}

.sab1_image{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
margin-bottom: 20px;}

.sab2_image{
    width: 400px;
    margin-bottom: 120px;
}

.sab2_image img{
    width: 200px;
}

article{
    text-align: center;
}



.sab3_wrapper{
    width:  80%;
    display: flex;
    margin: auto;
}

.sab4_wrapper img{
    width: 95%;
}

.sab4_wrapper{
    text-align: center;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
   
}

a:hover{
    opacity: 0.3;
    transition: 0.5s;
}

.ikon_wrapper i{
    font-size: 40px;
   
}

.ikon_wrapper{
   
    color: #ffffff;
    background-color: black;
}

.fa-brands{
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.slideshow {
	
	position:relative;
	width:100%;
	height:700px;
	overflow:hidden;
    margin-bottom: 100px;}
	
	.slideshow img { position:absolute;
	top:0;
	left:0;
	z-index:8;
	width: 100%;

}

.slideshow img.active { z-index:10; }
	
	.slideshow img.last-active { z-index:9; }


footer {
    background-color: black;
    text-align: center;
   
    padding-top: 50px;
    
   
}

footer p{
    
    color: #ffffff;
    background-color: black;
}


